In [3]:
d = {1:'one', 2:'Two', 3:'Three'}

dict

In [2]:
d = {}
num = int(input("Enter the number of people"))
for i in range(num):
    name = input("enter the name:")
    number = int(input("Enter the number:"))
    d[number] = name
    
print(d)

Enter the number of people2
enter the name:Niachal
Enter the number:1
enter the name:rabin
Enter the number:2
{1: 'Niachal', 2: 'rabin'}

In [2]:
d = {9812739888: 'Nischal', 9812345555: 'hari'}
for i in d:
    print(i)

9812739888
9812345555

In [3]:
d = {9812739888: 'Nischal', 9812345555: 'hari'}
for i in d.values():
    print(i)

Nischal
hari

In [4]:
d = {9812739888: 'Nischal', 9812345555: 'hari'}
for i in d.items():
    print(i)

(9812739888, 'Nischal')
(9812345555, 'hari')

In [1]:
d = {'name':[], 'age':[], 'address':[] }

n = int(input("enter the number of people = "))
for i in range(n):
   
    user_name = input("Enter your name:")
    user_age = input("Enter your age:")
    user_add = input("enter your address:")
    d['name'].append(user_name)
    d['age'].append(user_age)
    d['address'].append(user_add)
d

enter the number of people = 2
Enter your name:Bimi
Enter your age:23
enter your address:nakhi
Enter your name:Nischal
Enter your age:12
enter your address:s

{'name': ['Bimi', 'Nischal'], 'age': ['23', '12'], 'address': ['nakhi', 's']}

In [2]:
d = {}
l = []
n = int(input("Enter no. of people:"))
for i in range(n):
    name = input("Enter your name=")
    age = int(input("Enter your age="))
    add = input("Enter your address=")
    d['name'] = name
    d['age'] = age
    d['add'] = add
    
print(d)

Enter no. of people:2
Enter your name=nischal
Enter your age=23
Enter your address=ewe
Enter your name=dcsd
Enter your age=12
Enter your address=dde
{'name': 'dcsd', 'age': 12, 'add': 'dde'}

In [3]:
x = lambda l, b: l * b
print(x(5,2))

10

In [5]:
a = [input("enter the name") for i in range(5)]

enter the nameApple
enter the nameAnt
enter the nameCat
enter the nameDog
enter the nameAeroplane

['Apple', 'Ant', 'Cat', 'Dog', 'Aeroplane']

In [9]:
a = ['Apple', 'Ant', 'Cat', 'Dog', 'Aeroplane']
b = list(filter(lambda x: x[0] == "A", a))
b

['Apple', 'Ant', 'Aeroplane']

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]
b = list(filter(lambda x : x % 2 == 0, a))
print(b)

[2, 4, 6, 8, 10]

In [11]:
a = [1,2,3,4,5,6,7,8,9,10]
b = list(map(lambda x: x**2, a))
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
a = ['nischal',"hari", "jackfin", "bimi"]
b = list(map(lambda x: x.upper(),a))
print(b)

['NISCHAL', 'HARI', 'JACKFIN', 'BIMI']