In [3]:
data = [["Ram","22","kathmandu"],
       ["Shyam","34","Kirtipur"],
       ["Hari", "34","Bhaktapur"]]
print(data[2][0])

Hari

In [4]:
info = []
n = int(input("enter the no. of info"))
for i in range(n):
    name = input("Enter your name:")
    age = int(input("Enter your age:"))
    address = input("Enter your address:")
    info.append([name, age, address])
print(info)

enter the no. of info2
Enter your name:NIschal
Enter your age:23
Enter your address:kirtipur
Enter your name:hari
Enter your age:22
Enter your address:kathmandu
[['NIschal', 23, 'kirtipur'], ['hari', 22, 'kathmandu']]

In [22]:
data = [["Ram","22","kathmandu"],
       ["Shyam","34","Kirtipur"],
       ["Hari", "34","Bhaktapur"]]
name = input("Enter the name:")
for i in data:
      if name in i:
            all_info = f"name = {i[0]},age = {i[1]},address = {i[2]}"
            print(all_info)
            break
             
        
      else:
        print("name not found!")
        break

Enter the name:gg
name not found!

In [20]:
#store billing in list

In [25]:
t = ()
x = (1,)
y = (2,)
t = t + x + y
print(t)

(1, 2)