In [1]:
!pip install mysql-connector

Collecting mysql-connector
  Using cached mysql_connector-2.2.9-cp311-cp311-win_amd64.whl
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9

In [3]:
import mysql.connector
#importing database
database = mysql.connector.connect(
    host="localhost",
    user= "root",
    password="",
    database = "python3pm"
    )
db = database.cursor()

In [6]:
sql = "SELECT * FROM student"
db.execute(sql)
result = db.fetchall()
print(result)

[(1, 'Nischal Chand Thakuri', 80, 89, 86, 96, 89, 450, 89.0, 'A'), (2, 'Rabin kafle', 78, 67, 90, 95, 78, 432, 81.0, 'A'), (3, 'Bimisha Shrestha', 67, 87, 77, 56, 97, 390, 78.0, 'B+')]

In [4]:
sql = "SELECT name FROM student WHERE grade = 'A'"
db.execute(sql)
result = db.fetchall()
print(result)

[('Bimisha Shrestha',)]

In [5]:
sql = "UPDATE student SET name ='Sabera' where sn = 8"
db.execute(sql)
database.commit()

In [9]:
sql = "DELETE FROM student where sn = 2"
db.execute(sql)
database.commit()

In [6]:

def student_result():
    name = input("Enter the name:")
    ch = int(input("Enter the marks in chem"))
    phy = int(input("Enter the marks in physics"))
    math = int(input("Enter the marks in maths"))
    english = int(input("Enter the marks in english"))
    nepali = int(input("Enter the marks in nepali"))
    total = ch + phy + math + nepali + english
    percentage = (total / 500) * 100

    if percentage > 90:
        grade = "A+"
    elif percentage > 80:
        grade = "A"
    elif percentage > 70:
        grade = "B"
    elif percentage > 60:
        grade = "C"
    elif percentage > 50:
        grade = "D"
    else:
        grade = "F"

    # Use placeholders in the SQL query
    sql = '''INSERT INTO student(name, phy, ch, math, english, nepali, total, percentage, grade)
             VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)'''

    # Pass values as a tuple to the execute function
    db.execute(sql, (name, phy, ch, math, english, nepali, total, percentage, grade))

    # Commit the changes to the database
    database.commit()

    print("Data entry done")
    x = input("enter 'Y' to add more, esle type 'E' to Exit.")
    if x == "Y":
        student_result()
    else:
        print("Done...")
student_result()

Enter the name:Sabera Pasachhe
Enter the marks in chem80
Enter the marks in physics89
Enter the marks in maths100
Enter the marks in english80
Enter the marks in nepali90
Data entry done
enter 'Y' to add more, esle type 'E' to Exit.E
Done...