In [ ]:
abs = -10
print(abs(abs))

In [ ]:
print(abs(-10))

In [ ]:
# swapping two value
x = int(input("enter a number x = "))
y = int(input("enter a number y = "))
c = x
x = y
y = c
print("X = ", x)
print("Y = ", y)

In [ ]:
bob's = 2
print(bob's)

In [ ]:
abc$ = 12
print(abc$)

In [ ]:
name = input("enter your name:")
print("Welcome our hero:\n", name)
name = input("Enter your changed name = ")
print("Your name is changed to:\n", name)

In [ ]:
print("    *")           
print("   *  *")
print("  *    *")
print(" *------*")

In [ ]:
print(5&4)

In [ ]:
#initial decoration
print("-"*50)
shop_name = "Spencer Retail"
Address = "136, Garia Station Road,"
code = "Kolkata:700084"
print(shop_name)
print(Address)
print(code)
print("-"*50)
#pricing details
Apricot = 300
Dates = 400
Almond = 500 
apricot_dates= (Apricot + Dates) * 0.9 #10%off
apricot_almond = ( Apricot + Almond) * 0.9
DatesAlmond = (Dates + Almond) * 0.9
DatesAlmondApricot = (Dates + Almond + Apricot) * 0.75#5% off
print("product(s)\tprice(per pack)")
print(f"Apricot\t\t{Apricot}")
print(f"Dates\t\t{Dates}")
print(f"Almond\t\t{Almond}")
print(f"combo-1\t\t{apricot_dates}")
print(f"conbo-2\t\t{apricot_almond}")
print(f"combo-3\t\t{DatesAlmond}")
print(f"GiftBox\t\t{DatesAlmondApricot}")
#final decoration
print("*"*50)
contact_number = "123-456-789"
print("For free delivery, contact ", contact_number)
print("*"*50)

In [ ]:
print("hello,\nReader")

In [ ]:
print(''' The height of andrew is 6'9"   ''')

In [ ]:
x = 12
print("X="+ str(x))

In [ ]:
x = "2+2"
print(x)
y = eval(x)
print(y)

In [ ]:
from random import randint
x = randint(0,12)
question1 = "2*(3+5)/2"


question1 = question1.replace("2",str(x))

question2 = "3+5+(4/2)*6"
question2 = question2.replace("6",str(x))
number = randint(1,2)
print(number)
if number == 1:
    quiz = question1
    
else:
    quiz = question2
    
  
print("SOLVE:", quiz)
answer = float(input("Enter your answer here"))
result = eval(quiz)
if result == answer:
    print("Correct")
else:
    print(f"Wrong the correct aswer is {result}")

In [ ]:
x = "2.2+3"
print(eval(x))

In [ ]:
current_value = 1
while current_value <= 10:
    print(current_value)
    current_value += 1 
print("Finally iam out of loop")

In [ ]:
employee_name = ["Hari", "Krishna", "Shyam",]
for i in employee_name:
    print(i)

In [ ]:
employee_name = ["Hari", "Shyam","krishna"]
iterator = iter(employee_name)
print(next(iterator))
print(next(iterator))
print(next(iterator))

In [ ]:
current_value = 1
while current_value <= 5:
    print(f"value={current_value}")
    current_value += 1
    print("Iam still inside the loop")
    if current_value == 3:
        break
print(f"value = {current_value}")
print("Iam outside the loop")

In [ ]:
for i in range(1,100):
    
   input_text =  input('Enter the input text or type "quit" to exit:')
   if input_text != 'quit':
        number = float(input_text)
        if number > 0:
            print("Positive")
        if number < 0:
            print("Negative")
   else:
    break
print("You quit")

In [ ]:
attempt_number = 1

while attempt_number != 3:

In [ ]:
list = [2,3,4.5,6,12]
for i in range (2,6):
    print(list[i])

In [12]:
list = [4,5,6,7]
for number in list:
    
    print(number)

4
5
6
7

In [2]:
from random import randint
attempt_number = 0
number = randint(1,15)
print(number)
while attempt_number != 3:   
    attempt_number += 1 
    gussed_number = int(input("Enter the no."))
    if number == gussed_number:
                        
                        print(f"correct, you gussed while in {3 - attempt_number} left")
                        break
    elif number > gussed_number :
        print("Little Higher")
        print(f"you have {3-attempt_number} chnace left")
    elif number < gussed_number:
        print("Little Lower")
        print(f"you have {3-attempt_number} chnace left")

5
Enter the no.4
Little Higher
you have 2 chnace left
Enter the no.7
Little Lower
you have 1 chnace left
Enter the no.8
Little Lower
you have 0 chnace left

In [3]:
# You can reassign a new value inside the list
my_list = ["John", 12, "Sam", True, 50.7]
print("The original list is as follows:")
print(my_list)
print("Changing the element at index 2.")
my_list[2] = "Bob"
print("Now the list is as follows:")
print(my_list)

The original list is as follows:
['John', 12, 'Sam', True, 50.7]
Changing the element at index 2.
Now the list is as follows:
['John', 12, 'Bob', True, 50.7]

In [10]:
my_list = ["John", 12, "Sam", True, 50.7]
print("The original list is as follows:")
print(my_list)
print("Changing the element at index 2.")
my_list[2] = "Hari"
print("Now the list is as follows:")
print(my_list)

The original list is as follows:
['John', 12, 'Sam', True, 50.7]
Changing the element at index 2.
Now the list is as follows:
['John', 12, 'Hari', True, 50.7]

In [11]:
list1 = ["ram", "hari", "2.5$", "laxman"]
list2 = ["Hotdog","sandwich","Price","Bread"]
final = list1 + list2
print(final)

['ram', 'hari', '2.5$', 'laxman', 'Hotdog', 'sandwich', 'Price', 'Bread']

In [40]:
list1 = ["hari", "2.5$", "laxman","ram"]

list1.insert(3,"Shyam")
print("laxmna" in list1 )

False

In [45]:
my_tuple = (1,2,3,4,5)
print(f"Original Tuple:{my_tuple}")
rev_tuple = tuple(reversed(my_tuple))
print(f"Reversed Tuple:{rev_tuple}")

Original Tuple:(1, 2, 3, 4, 5)
Reversed Tuple:(5, 4, 3, 2, 1)

In [43]:
my_dictionary = {'ritesh':'jack', 2:2, 3:'Roshan', 2:'Kamlesh'}
print(my_dictionary['ritesh'])

jack

In [12]:
my_set1 = {1,2,3,"Ramesh","Suresh", 1, 2, 3}
print("My set1 contains:")
print(my_set1)
my_set2 = {"bob", "Sam", "Hari", "Shyam", "bob", "Hari"}
print("My set2 contains:")
print(my_set2)

My set1 contains:
{1, 2, 3, 'Suresh', 'Ramesh'}
My set2 contains:
{'bob', 'Hari', 'Shyam', 'Sam'}

In [16]:
my_set = set()
print("The set is ")
print(my_set)
my_set.add(6)
print(my_set)

The set is
set()

TypeError: set.add() takes exactly one argument (2 given)

In [18]:
my_name = 'Nischal'
my_set = set(my_name)
print(my_set)

{'N', 'c', 's', 'h', 'l', 'a', 'i'}

In [23]:
#E6.1
my_list = [1,2,3,4,5]
print(my_list)
del(my_list[-2:])
print(my_list)

[1, 2, 3, 4, 5]
[1, 2, 3]

In [26]:
my_tuple = (1,2,3,"shyam", "Hari", "Nischal","Bimisha")
print(my_tuple[-3])

Hari

In [33]:
new_tuple = (1,2,2,3,4,4,4,5)
rev_tuple = tuple(reversed(new_tuple))
print(rev_tuple)
print(new_tuple.count(4))

(5, 4, 4, 4, 3, 2, 2, 1)
3

In [34]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)
my_set = set(my_tuple)
print("The my_set is:")
print(my_set)

The my_set is:
{1, 2, 3, 4, 5}

In [35]:
my_list=["red", "blue"]
my_set = set(my_list)
print("The my_set is:")
print(my_set)
my_set.discard("green")

The my_set is:
{'blue', 'red'}

In [1]:
print("Welcome to MCQ test.")
print("=============================")
print("Q1.What is the value of the expression:2*3-4?\n(a)1\n(b)2\n(c)3\n(d)None")
answer_1 = input("Type your answer(a/b/c/d):")
print("Q2.What is the value of the expression:1+(2*3)/4?\n(a)1.5\n(b)3\n(c)3.5\n(d)None")
answer_2 = input("Type your answer(a/b/c/d):")
print("Q3.The set data type can hold duplicate values.The satatement is:\n(a)False.5\n(b)True\n(c)Partially correct\n(d)None")
answer_3 = input("Type your answer(a/b/c/d):")
answer_dict = {'q1': 'b','q2': 'd', 'q3': 'a'}
score = 0 
while answer_dict['q1'] == answer_1:
    score += 1
    break
    
while answer_dict['q2'] == answer_2:
    score += 1
    break
    
  
while answer_dict['q3'] == answer_3:
    score += 1
    break
   

print(f"you scored {score} out of 3")

Welcome to MCQ test.
=============================
Q1.What is the value of the expression:2*3-4?
(a)1
(b)2
(c)3
(d)None
Type your answer(a/b/c/d):b
Q2.What is the value of the expression:1+(2*3)/4?
(a)1.5
(b)3
(c)3.5
(d)None
Type your answer(a/b/c/d):a
Q3.The set data type can hold duplicate values.The satatement is:
(a)False.5
(b)True
(c)Partially correct
(d)None
Type your answer(a/b/c/d):a
you scored 2 out of 3

In [8]:
# All questions
question1 = "Q1.What is the value of the expression:2*3-4?" \
"\n(a)1" \
"\n(b)2" \
"\n(c)3" \
"\n(d)None."
question2 = "\nQ2.What is the value of the expression:1+(2*3)/4?" \
"\n(a)1.5" \
"\n(b)3" \
"\n(c)3.5" \
"\n(d)None."
question3 = "\nQ3.The set data type can hold duplicate values." \
"The statement is:" \
"\n(a)False" \
"\n(b)True" \
"\n(c)Partially correct." \
"\n(d)None."
# Storing the questions with answer keys
# inside the following dictionary.
question_bank = {question1: "b",
question2: "c",
question3: "a"}
print("Welcome to the MCQ test.")
print("="*25)
score = 0 # initial value
for key in question_bank:
    print(key)
    user_input = input("Type your answer(a/b/c/d):")
    if user_input == question_bank[key]:
        score += 1
print(f"\nYour Score:{score} out of {len(question_bank)}")

Welcome to the MCQ test.
=========================
Q1.What is the value of the expression:2*3-4?
(a)1
(b)2
(c)3
(d)None.
Type your answer(a/b/c/d):a

Q2.What is the value of the expression:1+(2*3)/4?
(a)1.5
(b)3
(c)3.5
(d)None.
Type your answer(a/b/c/d):a

Q3.The set data type can hold duplicate values.The statement is:
(a)False
(b)True
(c)Partially correct.
(d)None.
Type your answer(a/b/c/d):a

Your Score:1 out of 3

In [5]:
def print_details(name, age):
    """This is the detail of the function def_print:It prints the name and age.
    """
    print(f"Hello! Welcome {name}.")
    print(f"you are {age} year old.")
print_details("Nischal", 23)
# print(print_details.__doc__)

Hello! Welcome Nischal.
you are 23 year old.
This is the detail of the function def_print:It prints the name and age.

In [3]:
def print_details(name,age):
    """
    This function takes two parameters.
    You can supply the name and age of the user
    in this function.
    """
    print(f"Hello {name}!How are you?")
    print(f"You are now {age}.")
# Now you can print this documentation using the following line of
# code:
print(print_details.__doc__)
g

    This function takes two parameters.
    You can supply the name and age of the user
    in this function.

In [13]:

guest_name = []

def welcome_guest(guest_name):
    for element in guest_name:
        print(f"Welcome {element}.")
total_guest = int(input("Enter the no. of total guest:"))
for i in range(1,total_guest + 1):
          name = input("enter your name:")
          guest_name.append(name)
print(guest_name)

welcome_guest(guest_name)

Enter the no. of total guest:3
enter your name:NIschal
enter your name:Manas
enter your name:Mansa
['NIschal', 'Manas', 'Mansa']
Welcome NIschal.
Welcome Manas.
Welcome Mansa.

In [12]:
initial_list = [2,3,4,5,6]
double_list = []
def make_double(initial_list):
    for element in initial_list:
        double_list.append(2*element)
make_double(initial_list = initial_list)
print(f"Before Double List:{initial_list}")
print(f"After Double List:{double_list}")

Before Double List:[2, 3, 4, 5, 6]
After Double List:[4, 6, 8, 10, 12]

In [3]:
print_hello = lambda:print("Hello world")
print_hello()

Hello world

In [4]:
make_double = lambda x:x*2
print(f"The double of 10 is {make_double(10)}")

The double of 10 is 20

In [18]:
a = "hello World.IAm python_"
for word in a:
    if word != "." and word != "_":
        print(word, end = ' ')

h e l l o   W o r l d I A m   p y t h o n

In [4]:
for i in range (0,10):
    if i == 5:
        break
    print(f"The value is {i} iam out of for for loop")
print("Iam out od for loop and if-else statement")

0
1
2
3
4
5

In [13]:
increment = 0
number = int(input("Enter a number"))
for i in range (1,number+1):
    if (number % i) == 0:
        increment += 1
        
if increment == 2:
    print("Prime")
else:
    print("Composite")

Enter a number11
Prime

In [ ]:
my_list = [1,2,3,4,5]
name_list = ["Nischal","Bimisha","Hari"]

In [3]:
from practice.py import my_list as list
print(list)

ModuleNotFoundError: No module named 'practice'

In [7]:
flag = False
num = int(input("Enter a number"))
if num == 1:
    print("1 is prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            flag = True
            break
if flag:
    print("Not a prime number")
else:
    print("Prime number")

Enter a number4
Not a prime number

In [14]:
x = 10
print(f"x={x}")
def print_me(x):
    x += 2
    print(f"Now x={x}")
print_me(x)
print(f"Here x={x}")

x=10
Now x=12
Here x=10

In [18]:
print("="*50)
print("This is a simple calculator.\nIt supports simple calculation")
print("i)Addition\nii)Substraction\niii)Multiplication and\niv)Division")
print("="*50)
def math_calculator(operator, num1, num2):
    if operator == "+":
        print(num1 + num2)
    elif operator == "-":
        print(num1 - num2)
    elif operator == "*":
        print(num1*num2)
    elif operator == "/":
        print(num1/num2)
    else:
        print("Invalid operator.Cannot compute the result")
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
operator = input("Enter an operator(+,-,*,/)")
math_calculator(operator, num1, num2)

==================================================
This is a simple calculator.
It supports simple calculation
i)Addition
ii)Substraction
iii)Multiplication and
iv)Division
==================================================
Enter the first number:3
Enter the second number:4
Enter an operator(+,-,*,/)/
0.75

In [4]:
n = int(input("Enter a number = "))
i = 2
flag = False
while i <= n-1 :
    if n % i == 0:
        flag = True
        break
    i += 1
if flag == True:
    print("This is not prime")
else:
    print("The is prime")

Enter a number = 56
This is not prime

In [9]:
[]

Hello world

In [3]:
a = "Ram Hari Sita Geta Laxman"
a = a.replace("Ram","Nischal")
print(a)
print(a.split())

Nischal Hari Sita Geta Laxman
['Nischal', 'Hari', 'Sita', 'Geta', 'Laxman']

['banana', 'cat', 'nischal']

In [5]:
list = ["ball", "Hari", "shyam", "laxman", "ball","Hari"]
if "ball" in list:
    list.remove("ball")
else:
    print(list)

In [10]:
my_list = ["ball", "Hari", "shyam", "laxman", "ball", "Hari"]
n = my_list.count("ball")
for i in range(n):
    print()
print(my_list)

0
1
['ball', 'Hari', 'shyam', 'laxman', 'ball', 'Hari']

In [11]:
def length(no = "Null"):
    count = 0
    for items in no:
        if items == " ":
            continue
        else:
            count +=1
    return count

In [12]:
total = length("nischal chand thakuri")
print(total)

19